<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name ="TokenConfig" type="System.Configuration.NameValueSectionHandler" />
  </configSections>

  <TokenConfig>
    <add key ="MalavToken" value="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"/>
  </TokenConfig>
  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>